--USE [SAT242516014]
--GO
--/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_String]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE TYPE [dbo].[Type_Dictionary_String_String] AS TABLE(
--	[Key] [nvarchar](100) NULL,
--	[Value] [nvarchar](max) NULL
--)
--GO
--/****** Object:  Table [dbo].[Student]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Student](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[Ad] [nvarchar](50) NULL,
--	[Soyad] [nvarchar](50) NULL,
--	[Email] [nvarchar](100) NULL,
--	[Numara] [nvarchar](20) NULL,
--	[DoğumTarihi] [date] NULL,
--	[Tc] [char](11) NULL,
-- CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  View [dbo].[View_Student]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- VIEW: View_Student
---- =============================================
--CREATE VIEW [dbo].[View_Student]
--AS
--SELECT *
--FROM Student
--GO
--/****** Object:  Table [dbo].[Ders]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Ders](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[Ad] [nvarchar](100) NULL,
--	[Kod] [nvarchar](20) NULL,
--	[Kredi] [int] NULL,
-- CONSTRAINT [PK_Ders] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  View [dbo].[View_Ders]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- 1. YENİ VIEW: Dersleri listelemek için
---- =============================================
--CREATE VIEW [dbo].[View_Ders]
--AS
--SELECT Id, Kod, Ad, Kredi FROM dbo.Ders
--GO
--/****** Object:  Table [dbo].[OgrenciDersKayit]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[OgrenciDersKayit](
--	[OgrenciId] [int] NOT NULL,
--	[DersId] [int] NOT NULL,
--	[KayitTarihi] [date] NULL,
--	[Donem] [nvarchar](20) NULL,
-- CONSTRAINT [PK_OgrenciDersKayit] PRIMARY KEY CLUSTERED 
--(
--	[OgrenciId] ASC,
--	[DersId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  View [dbo].[View_OgrenciDersKayit]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- 1. YENİ VIEW: Kayıtları isimlerle birlikte listelemek için
---- =============================================
--CREATE VIEW [dbo].[View_OgrenciDersKayit]
--AS
--SELECT 
--    odk.OgrenciId,
--    s.Ad + ' ' + s.Soyad AS OgrenciAdSoyad,
--    odk.DersId,
--    d.Ad AS DersAd,
--    d.Kod AS DersKod,
--    odk.KayitTarihi,
--    odk.Donem
--FROM 
--    [dbo].[OgrenciDersKayit] odk
--INNER JOIN 
--    [dbo].[Student] s ON odk.OgrenciId = s.Id
--INNER JOIN 
--    [dbo].[Ders] d ON odk.DersId = d.Id
--GO
--/****** Object:  Table [dbo].[Ogrenci]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Ogrenci](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[Ad] [nvarchar](50) NULL,
--	[Soyad] [nvarchar](50) NULL,
--	[Email] [nvarchar](100) NULL,
--	[Numara] [nvarchar](20) NULL,
--	[DoğumTarihi] [date] NULL,
--	[Tc] [char](11) NULL,
-- CONSTRAINT [PK_Ogrenci] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  View [dbo].[View_Ogrenci]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- OGRENCI NESNELERİ
---- =============================================

--CREATE VIEW [dbo].[View_Ogrenci]
--AS
--SELECT * FROM Ogrenci
--GO
--/****** Object:  View [dbo].[View_Kurs]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--/* Kurs View
--*/
--CREATE VIEW [dbo].[View_Kurs]
--AS
--SELECT *
--FROM Kurs
--GO
--/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[__EFMigrationsHistory](
--	[MigrationId] [nvarchar](150) NOT NULL,
--	[ProductVersion] [nvarchar](32) NOT NULL,
-- CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
--(
--	[MigrationId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[AspNetRoleClaims](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[RoleId] [nvarchar](450) NOT NULL,
--	[ClaimType] [nvarchar](max) NULL,
--	[ClaimValue] [nvarchar](max) NULL,
-- CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[AspNetRoles](
--	[Id] [nvarchar](450) NOT NULL,
--	[Name] [nvarchar](256) NULL,
--	[NormalizedName] [nvarchar](256) NULL,
--	[ConcurrencyStamp] [nvarchar](max) NULL,
-- CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[AspNetUserClaims](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[UserId] [nvarchar](450) NOT NULL,
--	[ClaimType] [nvarchar](max) NULL,
--	[ClaimValue] [nvarchar](max) NULL,
-- CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[AspNetUserLogins](
--	[LoginProvider] [nvarchar](450) NOT NULL,
--	[ProviderKey] [nvarchar](450) NOT NULL,
--	[ProviderDisplayName] [nvarchar](max) NULL,
--	[UserId] [nvarchar](450) NOT NULL,
-- CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
--(
--	[LoginProvider] ASC,
--	[ProviderKey] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[AspNetUserRoles](
--	[UserId] [nvarchar](450) NOT NULL,
--	[RoleId] [nvarchar](450) NOT NULL,
-- CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
--(
--	[UserId] ASC,
--	[RoleId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[AspNetUsers](
--	[Id] [nvarchar](450) NOT NULL,
--	[UserName] [nvarchar](256) NULL,
--	[NormalizedUserName] [nvarchar](256) NULL,
--	[Email] [nvarchar](256) NULL,
--	[NormalizedEmail] [nvarchar](256) NULL,
--	[EmailConfirmed] [bit] NOT NULL,
--	[PasswordHash] [nvarchar](max) NULL,
--	[SecurityStamp] [nvarchar](max) NULL,
--	[ConcurrencyStamp] [nvarchar](max) NULL,
--	[PhoneNumber] [nvarchar](max) NULL,
--	[PhoneNumberConfirmed] [bit] NOT NULL,
--	[TwoFactorEnabled] [bit] NOT NULL,
--	[LockoutEnd] [datetimeoffset](7) NULL,
--	[LockoutEnabled] [bit] NOT NULL,
--	[AccessFailedCount] [int] NOT NULL,
-- CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[AspNetUserTokens](
--	[UserId] [nvarchar](450) NOT NULL,
--	[LoginProvider] [nvarchar](450) NOT NULL,
--	[Name] [nvarchar](450) NOT NULL,
--	[Value] [nvarchar](max) NULL,
-- CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
--(
--	[UserId] ASC,
--	[LoginProvider] ASC,
--	[Name] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[OgrenciOgretmenIliski]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[OgrenciOgretmenIliski](
--	[OgrenciId] [int] NOT NULL,
--	[OgretmenId] [int] NOT NULL,
--	[AtamaTarihi] [date] NULL,
--	[Donem] [nvarchar](20) NULL,
-- CONSTRAINT [PK_OgrenciOgretmenIliski] PRIMARY KEY CLUSTERED 
--(
--	[OgrenciId] ASC,
--	[OgretmenId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--/****** Object:  Table [dbo].[Ogretmen]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Ogretmen](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	[Ad] [nvarchar](50) NULL,
--	[Soyad] [nvarchar](50) NULL,
--	[Email] [nvarchar](100) NULL,
--	[Alan] [nvarchar](50) NULL,
--	[Tc] [char](11) NULL,
-- CONSTRAINT [PK_Ogretmen] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
--(
--	[RoleId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [RoleNameIndex]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
--(
--	[NormalizedName] ASC
--)
--WHERE ([NormalizedName] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
--(
--	[UserId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
--(
--	[UserId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
--(
--	[RoleId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [EmailIndex]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
--(
--	[NormalizedEmail] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [UserNameIndex]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
--(
--	[NormalizedUserName] ASC
--)
--WHERE ([NormalizedUserName] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Ders_Ad]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE NONCLUSTERED INDEX [IX_Ders_Ad] ON [dbo].[Ders]
--(
--	[Ad] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Ders_Kod]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_Ders_Kod] ON [dbo].[Ders]
--(
--	[Kod] ASC
--)
--WHERE ([Kod] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Ogrenci_Ad_Soyad]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE NONCLUSTERED INDEX [IX_Ogrenci_Ad_Soyad] ON [dbo].[Ogrenci]
--(
--	[Ad] ASC,
--	[Soyad] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Ogrenci_Email]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_Ogrenci_Email] ON [dbo].[Ogrenci]
--(
--	[Email] ASC
--)
--WHERE ([Email] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Ogrenci_Numara]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_Ogrenci_Numara] ON [dbo].[Ogrenci]
--(
--	[Numara] ASC
--)
--WHERE ([Numara] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Ogrenci_Tc]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_Ogrenci_Tc] ON [dbo].[Ogrenci]
--(
--	[Tc] ASC
--)
--WHERE ([Tc] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--/****** Object:  Index [IX_OgrenciDersKayit_DersId]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE NONCLUSTERED INDEX [IX_OgrenciDersKayit_DersId] ON [dbo].[OgrenciDersKayit]
--(
--	[DersId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--/****** Object:  Index [IX_OgrenciOgretmenIliski_OgretmenId]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE NONCLUSTERED INDEX [IX_OgrenciOgretmenIliski_OgretmenId] ON [dbo].[OgrenciOgretmenIliski]
--(
--	[OgretmenId] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Ogretmen_Ad_Soyad]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE NONCLUSTERED INDEX [IX_Ogretmen_Ad_Soyad] ON [dbo].[Ogretmen]
--(
--	[Ad] ASC,
--	[Soyad] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Ogretmen_Email]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_Ogretmen_Email] ON [dbo].[Ogretmen]
--(
--	[Email] ASC
--)
--WHERE ([Email] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Ogretmen_Tc]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_Ogretmen_Tc] ON [dbo].[Ogretmen]
--(
--	[Tc] ASC
--)
--WHERE ([Tc] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Student_Ad_Soyad]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE NONCLUSTERED INDEX [IX_Student_Ad_Soyad] ON [dbo].[Student]
--(
--	[Ad] ASC,
--	[Soyad] ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Student_Email]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_Student_Email] ON [dbo].[Student]
--(
--	[Email] ASC
--)
--WHERE ([Email] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Student_Numara]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_Student_Numara] ON [dbo].[Student]
--(
--	[Numara] ASC
--)
--WHERE ([Numara] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--SET ANSI_PADDING ON
--GO
--/****** Object:  Index [IX_Student_Tc]    Script Date: 12.11.2025 01:42:02 ******/
--CREATE UNIQUE NONCLUSTERED INDEX [IX_Student_Tc] ON [dbo].[Student]
--(
--	[Tc] ASC
--)
--WHERE ([Tc] IS NOT NULL)
--WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
--GO
--ALTER TABLE [dbo].[OgrenciDersKayit] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
--GO
--ALTER TABLE [dbo].[OgrenciOgretmenIliski] ADD  DEFAULT (getdate()) FOR [AtamaTarihi]
--GO
--ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
--REFERENCES [dbo].[AspNetRoles] ([Id])
--ON DELETE CASCADE
--GO
--ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
--GO
--ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
--REFERENCES [dbo].[AspNetUsers] ([Id])
--ON DELETE CASCADE
--GO
--ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
--GO
--ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
--REFERENCES [dbo].[AspNetUsers] ([Id])
--ON DELETE CASCADE
--GO
--ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
--GO
--ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
--REFERENCES [dbo].[AspNetRoles] ([Id])
--ON DELETE CASCADE
--GO
--ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
--GO
--ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
--REFERENCES [dbo].[AspNetUsers] ([Id])
--ON DELETE CASCADE
--GO
--ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
--GO
--ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
--REFERENCES [dbo].[AspNetUsers] ([Id])
--ON DELETE CASCADE
--GO
--ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
--GO
--ALTER TABLE [dbo].[OgrenciDersKayit]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDersKayit_Ders] FOREIGN KEY([DersId])
--REFERENCES [dbo].[Ders] ([Id])
--ON DELETE CASCADE
--GO
--ALTER TABLE [dbo].[OgrenciDersKayit] CHECK CONSTRAINT [FK_OgrenciDersKayit_Ders]
--GO
--ALTER TABLE [dbo].[OgrenciDersKayit]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciDersKayit_Student] FOREIGN KEY([OgrenciId])
--REFERENCES [dbo].[Student] ([Id])
--ON DELETE CASCADE
--GO
--ALTER TABLE [dbo].[OgrenciDersKayit] CHECK CONSTRAINT [FK_OgrenciDersKayit_Student]
--GO
--ALTER TABLE [dbo].[OgrenciOgretmenIliski]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciOgretmenIliski_Ogrenci] FOREIGN KEY([OgrenciId])
--REFERENCES [dbo].[Ogrenci] ([Id])
--ON DELETE CASCADE
--GO
--ALTER TABLE [dbo].[OgrenciOgretmenIliski] CHECK CONSTRAINT [FK_OgrenciOgretmenIliski_Ogrenci]
--GO
--ALTER TABLE [dbo].[OgrenciOgretmenIliski]  WITH CHECK ADD  CONSTRAINT [FK_OgrenciOgretmenIliski_Ogretmen] FOREIGN KEY([OgretmenId])
--REFERENCES [dbo].[Ogretmen] ([Id])
--ON DELETE CASCADE
--GO
--ALTER TABLE [dbo].[OgrenciOgretmenIliski] CHECK CONSTRAINT [FK_OgrenciOgretmenIliski_Ogretmen]
--GO
--/****** Object:  StoredProcedure [dbo].[sp_Ders_Add_Update_Remove]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- 3. YENİ SP: Ders Ekleme/Güncelleme/Silme (CRUD)
---- =============================================
--CREATE PROCEDURE [dbo].[sp_Ders_Add_Update_Remove]
--    @operation VARCHAR(10),
--    @jsonvalues NVARCHAR(MAX)
--AS
--BEGIN
--    SELECT *
--    INTO #temp
--    FROM OPENJSON(@jsonvalues)
--    WITH (
--        Id INT,
--        Kod NVARCHAR(20),
--        Ad NVARCHAR(100),
--        Kredi INT
--    );

--    DECLARE @rowcount INT = NULL;

--    IF @operation = 'add'
--    BEGIN
--        INSERT INTO dbo.Ders (Kod, Ad, Kredi)
--        SELECT Kod, Ad, Kredi FROM #temp;
        
--        SET @rowcount = @@ROWCOUNT;
--    END

--    IF @operation = 'update'
--    BEGIN
--        UPDATE d
--        SET 
--            d.Kod = t.Kod,
--            d.Ad = t.Ad,
--            d.Kredi = t.Kredi
--        FROM 
--            #temp t
--        JOIN 
--            dbo.Ders d ON t.Id = d.Id;

--        SET @rowcount = @@ROWCOUNT;
--    END

--    IF @operation = 'remove'
--    BEGIN
--        DELETE d
--        FROM 
--            #temp t
--        JOIN 
--            dbo.Ders d ON t.Id = d.Id;

--        SET @rowcount = @@ROWCOUNT;
--    END
    
--    -- *** DÜZELTME: Buradaki 'N' harfi silindi ***

--    SELECT @operation AS [Key], IIF(ISNULL(@rowcount, 0) > 0, 1, 0) AS [Value];
--END
--GO
--/****** Object:  StoredProcedure [dbo].[sp_Ders_Listele]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- 2. YENİ SP: Dersleri Listeleme (List)
---- =============================================
--CREATE PROCEDURE [dbo].[sp_Ders_Listele]
--    @pagination dbo.Type_Dictionary_String_String READONLY,
--    @where dbo.Type_Dictionary_String_String READONLY
--AS
--BEGIN
--    ;
--    WITH cte AS (
--        SELECT * FROM dbo.View_Ders
--    ),
--    cte_TRC AS (
--        SELECT COUNT(*) AS TotalRecordCount FROM cte
--    )
--    SELECT * FROM cte, cte_TRC;
--END
--GO
--/****** Object:  StoredProcedure [dbo].[sp_Ders_Lookup]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- 5. YENİ SP: Ders Dropdown için
---- =============================================
--CREATE PROCEDURE [dbo].[sp_Ders_Lookup]
--AS
--BEGIN
--    SELECT Id, '[' + Kod + '] ' + Ad AS Ad FROM dbo.Ders ORDER BY Kod;
--END
--GO
--/****** Object:  StoredProcedure [dbo].[sp_Kurs_Add_Update_Remove]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

--/* Kurs Ekle/Güncelle/Sil Stored Procedure'ü
--    JSON'dan gelen verilere göre işlem yapar
--*/
--CREATE PROCEDURE [dbo].[sp_Kurs_Add_Update_Remove]
--    @operation VARCHAR(10),
--    @jsonvalues NVARCHAR(MAX)
--AS
--BEGIN

--    /* Gelen JSON verisini C# modeline (PascalCase) uygun olarak parçala */
--    SELECT *
--    INTO #tempKurs
--    FROM OPENJSON(@jsonvalues)
--    WITH
--    (
--        KursID INT,
--        KursAdi NVARCHAR(200),
--        EgitmenAdi NVARCHAR(150),
--        Kontenjan INT
--    )

--    DECLARE @rowcount INT = NULL

--    IF @operation = 'add'
--    BEGIN
--        INSERT Kurs (KursAdi, EgitmenAdi, Kontenjan)
--        SELECT KursAdi, EgitmenAdi, Kontenjan
--        FROM #tempKurs

--        SET @rowcount = @@ROWCOUNT
--    END

--    IF @operation = 'update'
--    BEGIN
--        UPDATE k
--        SET k.KursAdi = t.KursAdi,
--            k.EgitmenAdi = t.EgitmenAdi,
--            k.Kontenjan = t.Kontenjan
--        FROM #tempKurs t
--        JOIN Kurs k ON t.KursID = k.KursID

--        SET @rowcount = @@ROWCOUNT
--    END

--    IF @operation = 'remove'
--    BEGIN
--        DELETE k
--        FROM #tempKurs t
--        JOIN Kurs k ON t.KursID = k.KursID

--        SET @rowcount = @@ROWCOUNT
--    END

--    SELECT @operation [Key],
--           IIF(ISNULL(@rowcount, 0) > 0, 1, 0) [Value]

--END
--GO
--/****** Object:  StoredProcedure [dbo].[sp_OgrenciDersKayit_Add_Update_Remove]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- 3. YENİ SP: Kayıt Ekleme/Güncelleme/Silme (CRUD)
---- =============================================
--CREATE PROCEDURE [dbo].[sp_OgrenciDersKayit_Add_Update_Remove]
--    @operation VARCHAR(10),
--    @jsonvalues NVARCHAR(MAX)
--AS
--BEGIN
--    SELECT *
--    INTO #temp
--    FROM OPENJSON(@jsonvalues)
--    WITH (
--        OgrenciId INT,
--        DersId INT,
--        KayitTarihi DATE,
--        Donem NVARCHAR(20)
--    );

--    DECLARE @rowcount INT = NULL;

--    IF @operation = 'add'
--    BEGIN
--        INSERT INTO dbo.OgrenciDersKayit (OgrenciId, DersId, KayitTarihi, Donem)
--        SELECT OgrenciId, DersId, KayitTarihi, Donem
--        FROM #temp;

--        SET @rowcount = @@ROWCOUNT;
--    END

--    IF @operation = 'update'
--    BEGIN
--        UPDATE odk
--        SET 
--            odk.KayitTarihi = t.KayitTarihi,
--            odk.Donem = t.Donem
--        FROM 
--            #temp t
--        JOIN 
--            dbo.OgrenciDersKayit odk ON t.OgrenciId = odk.OgrenciId AND t.DersId = odk.DersId;

--        SET @rowcount = @@ROWCOUNT;
--    END

--    IF @operation = 'remove'
--    BEGIN
--        DELETE odk
--        FROM 
--            #temp t
--        JOIN 
--            dbo.OgrenciDersKayit odk ON t.OgrenciId = odk.OgrenciId AND t.DersId = odk.DersId;

--        SET @rowcount = @@ROWCOUNT;
--    END

--    SELECT @operation AS [Key], IIF(ISNULL(@rowcount, 0) > 0, 1, 0) AS [Value];
--END
--GO
--/****** Object:  StoredProcedure [dbo].[sp_OgrenciDersKayit_Listele]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- 2. YENİ SP: Kayıtları Listeleme (List)
---- =============================================
--CREATE PROCEDURE [dbo].[sp_OgrenciDersKayit_Listele]
--    @pagination dbo.Type_Dictionary_String_String READONLY,
--    @where dbo.Type_Dictionary_String_String READONLY
--AS
--BEGIN
--    ;
--    WITH cte AS (
--        SELECT * FROM dbo.View_OgrenciDersKayit
--    ),
--    cte_TRC AS (
--        SELECT COUNT(*) AS TotalRecordCount FROM cte
--    )
--    SELECT * FROM cte, cte_TRC;
--END
--GO
--/****** Object:  StoredProcedure [dbo].[sp_Student_Add_Update_Remove]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- SP: sp_Student_Add_Update_Remove (CRUD)
---- =============================================
--CREATE PROCEDURE [dbo].[sp_Student_Add_Update_Remove]
--    @operation VARCHAR(10),
--    @jsonvalues NVARCHAR(MAX)
--AS
--BEGIN
--    SELECT *
--    INTO #temp
--    FROM OPENJSON(@jsonvalues)
--    WITH
--    (
--        Id INT,
--        Ad NVARCHAR(50), 
--        Soyad NVARCHAR(50), 
--        Department VARCHAR(50), -- Bu sütun Student tablosunda yok, dikkate alınmayacak.
--        Email NVARCHAR(100),
--        Numara NVARCHAR(20), 
--        DoğumTarihi DATE, 
--        Tc CHAR(11)
--    )

--    DECLARE @rowcount INT = NULL

--    IF @operation = 'add'
--    BEGIN
--        INSERT Student (Ad, Soyad, Email, Numara, DoğumTarihi, Tc)
--        SELECT Ad, Soyad, Email, Numara, DoğumTarihi, Tc
--        FROM #temp

--        SET @rowcount = @@ROWCOUNT
--    END

--    IF @operation = 'update'
--    BEGIN
--        UPDATE s
--        SET s.Ad = t.Ad, 
--            s.Soyad = t.Soyad, 
--            s.Email = t.Email, 
--            s.Numara = t.Numara, 
--            s.DoğumTarihi = t.DoğumTarihi,
--            s.Tc = t.Tc
--        FROM #temp t JOIN Student s ON t.Id = s.Id

--        SET @rowcount = @@ROWCOUNT
--    END

--    IF @operation = 'remove'
--    BEGIN
--        DELETE s
--        FROM #temp t JOIN Student s ON t.Id = s.Id

--        SET @rowcount = @@ROWCOUNT
--    END

--    SELECT @operation [Key], IIF(ISNULL(@rowcount, 0) > 0, 1, 0) [Value]
--END
--GO
--/****** Object:  StoredProcedure [dbo].[sp_Student_Lookup]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- 4. YENİ SP: Öğrenci Dropdown için
---- =============================================
--CREATE PROCEDURE [dbo].[sp_Student_Lookup]
--AS
--BEGIN
--    SELECT Id, Ad + ' ' + Soyad AS AdSoyad FROM dbo.Student ORDER BY Ad;
--END
--GO
--/****** Object:  StoredProcedure [dbo].[sp_Students]    Script Date: 12.11.2025 01:42:02 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

---- =============================================
---- SP: sp_Students (LISTELEME)
---- =============================================
--CREATE PROCEDURE [dbo].[sp_Students]
--    @pagination Type_Dictionary_String_String READONLY,
--    @where Type_Dictionary_String_String READONLY
--AS
--BEGIN
--    ;
--    WITH cte AS
--    (
--        SELECT *
--        FROM View_Student
--    ),
--    cte_TRC AS (
--        SELECT COUNT(*) TotalRecordCount
--        FROM cte
--    )
--    SELECT *
--    FROM cte, cte_TRC
--END
--GO
